/* Aileron Black */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Black.woff2') format('woff2'),
         url('/static/fonts/Aileron-Black.woff') format('woff'),
         url('/static/fonts/Aileron-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* Aileron Black Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-BlackItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-BlackItalic.woff') format('woff'),
         url('/static/fonts/Aileron-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Aileron Bold */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Bold.woff2') format('woff2'),
         url('/static/fonts/Aileron-Bold.woff') format('woff'),
         url('/static/fonts/Aileron-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Aileron Bold Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-BoldItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-BoldItalic.woff') format('woff'),
         url('/static/fonts/Aileron-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Aileron Heavy */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Heavy.woff2') format('woff2'),
         url('/static/fonts/Aileron-Heavy.woff') format('woff'),
         url('/static/fonts/Aileron-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* Aileron Heavy Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-HeavyItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-HeavyItalic.woff') format('woff'),
         url('/static/fonts/Aileron-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Aileron Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Italic.woff2') format('woff2'),
         url('/static/fonts/Aileron-Italic.woff') format('woff'),
         url('/static/fonts/Aileron-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* Aileron Light */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Light.woff2') format('woff2'),
         url('/static/fonts/Aileron-Light.woff') format('woff'),
         url('/static/fonts/Aileron-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Aileron Light Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-LightItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-LightItalic.woff') format('woff'),
         url('/static/fonts/Aileron-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Aileron Regular */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Regular.woff2') format('woff2'),
         url('/static/fonts/Aileron-Regular.woff') format('woff'),
         url('/static/fonts/Aileron-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Aileron SemiBold */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-SemiBold.woff2') format('woff2'),
         url('/static/fonts/Aileron-SemiBold.woff') format('woff'),
         url('/static/fonts/Aileron-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

/* Aileron SemiBold Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-SemiBoldItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-SemiBoldItalic.woff') format('woff'),
         url('/static/fonts/Aileron-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

/* Aileron Thin */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-Thin.woff2') format('woff2'),
         url('/static/fonts/Aileron-Thin.woff') format('woff'),
         url('/static/fonts/Aileron-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Aileron Thin Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-ThinItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-ThinItalic.woff') format('woff'),
         url('/static/fonts/Aileron-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* Aileron UltraLight */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-UltraLight.woff2') format('woff2'),
         url('/static/fonts/Aileron-UltraLight.woff') format('woff'),
         url('/static/fonts/Aileron-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

/* Aileron UltraLight Italic */
@font-face {
    font-family: 'Aileron';
    src: url('/static/fonts/Aileron-UltraLightItalic.woff2') format('woff2'),
         url('/static/fonts/Aileron-UltraLightItalic.woff') format('woff'),
         url('/static/fonts/Aileron-UltraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

body {
    font-family: 'Aileron', sans-serif;
}

html {
    font-size: 0.0694444444444vw;
    background: linear-gradient(135deg, rgb(226, 217, 205) 0vh, rgb(241, 237, 230) 50vh, rgb(246, 243, 233) 100vh)
}