
nav{
    display:flex;
    position:absolute;
    width:100%;
    top:0%;
    align-items:center;
    justify-content: space-between;
    height:85.5rem;
    background: linear-gradient(135deg, rgb(243, 231, 214, 0) 0%, rgb(235, 229, 220, 0) 50%, rgb(253, 249, 234, 0) 100%);
    z-index:1000;
}

.blandHeader{
    text-decoration:none;
    color:black;
}

.headerText{
    margin:0px;
    font-family:"Aileron", sans-serif;
    font-weight:normal;
    font-style:normal;
    text-decoration:none;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.25);
    color:white;
    font-size:14.6rem;
}

.headerElement{
    display:flex;
    flex-direction:row;
    gap:18rem;
}

#menuImage{
    width:auto;
    height:14rem;
    filter: invert(100%) contrast(200%);

}

#signUpText{
    margin:0px;
    font-family:"Aileron", sans-serif;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.25);
    color:white;
    font-size:14.7rem;  
}

#signUpButton{
    height:36rem;
    background: linear-gradient(90deg, rgb(255, 134, 26) 0%, rgb(255, 102, 102) 100%);
    aspect-ratio:3.44/1;
    border-radius:20rem;
}

#headerLogo{
    width:auto; 
    height:85rem;
    filter: invert(100%) contrast(200%);
    transform:translateY(3rem);
}

#profilePicture{
    height:35rem;
    width:auto;
}

#profilePicture:focus{
    outline:none;
}

#notificationIcon{
    height:18rem;
    filter:invert(1) contrast(1);
}

#profileMenu{
    position:absolute;
    top:0%;
    margin-top:52rem;
    border-radius:10rem;
    border: 1px solid rgb(54, 53, 55); 
    background: linear-gradient(135deg, rgb(243, 231, 214, 1) 0%, rgb(235, 229, 220, 1) 50%, rgb(253, 249, 234, 1) 100%);
    padding:13rem;
    display:none;
    flex-direction:column;
    width:110rem; 
    align-items:center;
    opacity:1;
    gap:8rem;
    margin-left:15rem;
}

#profileMenu p{
    padding:10px;
}

#notificationCount{
    color:white;
    font-family:"Aileron", sans-serif;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.25);
    color:white;
    font-size:10.6rem;  
    margin:0px;
}

#notificationCircle{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:400rem;
    background-color:rgb(255, 102, 102);
    padding:1rem;
    right:5rem;
    top:11rem;
}

#profileNotifications{
    display:none;
}

#notificationsDiv{
    position:relative;
}


#notificationsMenu{
    position:absolute;
    top:0%;
    margin-top:50px;
    border-radius:max(1vw, 2vh);
    border: 1px solid white; 
    background: linear-gradient(135deg, rgb(243, 231, 214, 1) 0%, rgb(235, 229, 220, 1) 50%, rgb(253, 249, 234, 1) 100%);
    padding:max(1vw, 2vh);
    display:none;
    flex-direction:column;
    align-items:center;
    margin-right:max(23vw, 46vh);
    gap:max(1vw, 2vh);
}

.notification{
    height:max(4vw, 8vh);
    width:max(20vw, 40vh);
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
    gap:max(1vw, 2vh);
}

.notificationInfo{
    display:flex;
    flex-direction:column;
    width:100%;
    gap:max(0.2vw, 0.4vh);
}

#notifications{
    border-top:1px solid white;
    border-bottom:1px solid white;
    padding-top:max(1vw, 2vh); 
    padding-bottom:max(1vw, 2vh); 
    display:flex;
    flex-direction:column;
    gap:max(0.5vw, 1vh);
}

.attributeDiv{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:absolute;
    left:2px;
    bottom:2px;
}


.notificationsTitleDiv{
    display:flex;
    justify-content:center;
    align-items:center;
    width:max(20vw, 40vh);
}

.notificationsTitleDiv b{
    font-size:max(1.5vw, 3vh);
}


#settingsBackground{
    width:100%;
    height:100%;
    position:fixed;
    top:0%;
    left:0%;
    background-color:rgb(20, 20, 20, 0.35);
    z-index:2000;
}

#settingsMenu{
    width:max(25vw, 50vh);
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index:5000;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:max(1vw, 2vh);
    border-radius:max(2vw, 4vh);
    border: 1px solid black;
    background: linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);
}

.profilePadding{
    padding:5px;
}

#menuBar{
    background-color:white;
    width:40%;
    height:90vh;
    position:fixed;
    top:0%;
    left:0%;
    z-index:100000000;
    padding:5vh;
    display:flex;
    flex-direction:column;
    transition:1s ease;
    transform:translateX(-125%);
    font-family: "Aileron";
    justify-content:space-between;
}

#menuBar p{
    font-family: "Aileron";
    font-size:30px; 
}

#closeButtonMenu img{
    width:30px;
    height:30px;
    padding:10px;
}

#closeButtonMenu{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#closeButtonMenu b{
    font-size:22px;
}

#headerSearchBar{
    border-radius:11rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:5%;
    background-color:white;
    padding-right:5%;
    padding-left:5%;
    border:1px solid black;
}

#headerSearchBarMain{
    border-radius:11rem;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:5%;
    background-color:white;
    padding-right:5%;
    padding-left:5%;
}

#searchIcon{
    height:17rem;
    width:auto;
    cursor:pointer;
}

#searchInput{
    background:transparent;
    border:0px solid black;
    padding:0px;
    height:23rem;
    aspect-ratio:8.1/1;
    font-size:14.6rem;
    font-family:"Aileron", sans-serif;
    font-style:normal;
    font-weight:bold;
}

#searchInput::placeholder{
    font-size:14.6rem;
    font-family:"Aileron", sans-serif;
    font-style:normal;
    font-weight:bold;
    transform: translateY(-1rem);
    color:rgb(54, 53, 55);
}

#searchInput:focus{
    outline:none;
}

.resultPet{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    outline:none;
    text-decoration:none;
    align-items:center;
    color:black;
    border-top:0.5px solid lightgray;
}

.resultPet p{
    text-decoration:none;
    color:black;
    margin:0px;
}

#closeButtonSettings{
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    border-radius: max(1vw, 2vh);
    width: 70%;
    padding:max(1vw, 2vh);
    border: 1px solid black;
    background: linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(249, 249, 249) 100%);
}

#closeButtonSettings p{
    font-size:max(1vw, 2vh);
    margin:0px;
}

.preferenceDiv{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.infoImg{
    width:max(1.3vw, 2.6vh);
    aspect-ratio:1/1;
}

.preference{
    border-radius:50%;
    border:1px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:5%;
}

.preferenceButton{
    height:max(1.3vw, 2.6vh);
    aspect-ratio:1/1;
    display:flex;
    align-items:center;
    justify-content:center;
}

.preferenceImage{
    height:max(1.3vw, 2.6vh);
    aspect-ratio:1/1;
}

#openPreferencesButtonText{
    margin:0px;
    font-size:max(1.5vw, 3vh);
    font-family:"Aileron"
}

#preferences{
    padding-top:4%;
    padding-bottom:4%;
    height:75%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    gap:max(1vw, 2vh);
}

#openMiscButtonText{
    margin:0px;
    font-size:max(1.5vw, 3vh);
    font-family:"Aileron"
}

#openPreferencesButton{
    border-right:1px solid white;
    border-left:1px solid white;
    border-top:1px solid white;
}

#openMiscButton{
    border-right:1px solid white;
    border-left:1px solid white;
    border-top:1px solid white;
}

.whiteUnderline{
    width:100%;
    border-bottom:1px solid white;
    height:max(1.9vw, 3.8vh);
}

#misc{
    padding-top:4%;
    padding-bottom:4%;
    height:75%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    gap:max(1vw, 2vh);
}

#infoDiv{
    position:fixed;
    display:none;
    flex-direction:column;
    width:max(12vw, 24vh);
    gap:max(1vw, 2vh);
    padding:max(1vw, 2vh);
    border-radius:max(2vw, 4vh);
    border:1px solid white;
    background: linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(249, 249, 249) 100%);
    z-index:100000000000;
}

#infoText{
    margin:0px;
    font-size:max(1vw, 2vh);
    text-align:center;
}

#infoDiv b{
    font-size:max(1.8vw, 3.6vh);
    text-align:center;
    width:100%;
}

#importantDiv{
    position:fixed;
    transform:translate(-50%, -50%);
    left:50vw;
    top:50vh;
    display:none;
    flex-direction:column;
    align-items:center;
    z-index:10001;
    background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(249, 249, 249) 100%);
    padding:max(2vw, 4vh);
    border-radius:max(2vw, 4vh);
    border:1px solid white;
    gap:max(1.5vw, 3vh);
}

#importantTitle{
    font-size:max(2vw,4vh);
    text-align:center;
}

#importantText{
    font-size:max(1vw, 2vh);
    width:max(12vw, 24vh);
    text-align:center;
    margin:0px;
}

#importantBackground{
    width:100vw;
    height:100vh;
    position:fixed;
    left:0px;
    top:0px;
    background-color:black;
    opacity:0.3;
    z-index:10000;
    display:none;
}

#importantClose{
    background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(249, 249, 249) 100%);
    border:1px solid black;
    border-radius:max(1vw, 2vh);
    padding:max(1vw, 2vh);
    padding-top:max(0.25vw, 0.5vh);
    padding-bottom:max(0.25vw, 0.5vh);
    cursor:pointer;
    transform:scale(1);
    transition:0.5s ease;
}

#importantClose:hover{
    transform:scale(1.03);
}

#importantAccept{
    background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(249, 249, 249) 100%);
    border:1px solid black;
    border-radius:max(1vw, 2vh);
    padding:max(1vw, 2vh);
    padding-top:max(0.25vw, 0.5vh);
    padding-bottom:max(0.25vw, 0.5vh);
    cursor:pointer;
    transform:scale(1);
    transition:0.5s ease;
}

#importantAccept:hover{
    transform:scale(1.03);
}

#importantClose p{
    font-size:max(0.75vw, 1.5vh);
    font-weight:500;
}

#importantAccept p{
    font-size:max(0.75vw, 1.5vh);
    font-weight:500;
}