main {
    min-height:100vh;
    display:flex;
    flex-direction:row;
}

p {
    font-family:'Aileron', sans-serif;
    margin:0px;
}

#searchGrid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    margin-top:180rem;
    gap:11rem;
    padding-bottom:100rem;
}

#searchGrid > div {
    display:flex;
    flex-direction:column;
    align-items:center;
    border:1rem solid rgb(54, 53, 55);
    padding-top:6rem;
    padding-bottom:4rem;
    padding-right:15rem;
    padding-left:15rem;
    width:158rem;
    background:linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);
    border-radius:30rem;
    box-sizing:border-box;
}

#searchGrid > div > :nth-child(1) {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:5rem;
}

#searchGrid > div > :nth-child(1) > p {
    font-size:7.6rem;
    letter-spacing:3.5rem;
}

#searchGrid > div > :nth-child(2) {
    overflow:hidden;
    width:100%;
    aspect-ratio:1/1;
    padding-top:10rem;
    padding-bottom:10rem;
    display:flex;
    justify-content:center;
    align-items:center;
}

#searchGrid > div > :nth-child(2) > img {
    object-fit:contain;
    width:100%;
    height:100%;
}

#searchGrid > div > :nth-child(3) {
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:center;
    min-height:36.2rem;
}

#searchGrid > div > :nth-child(3) > p {
    font-size:15rem;
    font-weight:800;
    text-align:center;
}

#searchGrid > div > :nth-child(4) {
    width:100%;
    height:1rem;
    background-color:rgb(109, 107, 112);
    margin-top:5rem;
    margin-bottom:4rem;
}

#searchGrid > div > :nth-child(5) {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    box-sizing:border-box;
    padding-right:14rem;
    padding-left:14rem;
}

#searchGrid > div > :nth-child(5) > div {
    display:flex;
    flex-direction:column;
    align-items:center;
}

#searchGrid > div > :nth-child(5) > :nth-child(1) > p {
    color:rgb(109, 107, 112);
    font-size:12rem;
}

#searchGrid > div > :nth-child(5) > :nth-child(2) > p {
    color:rgb(54, 53, 55);
    font-size:13rem;
    font-weight:bold;
}

#searchGrid > div > :nth-child(6) {
    color:rgb(109, 107, 112);
    font-size:4.5rem;
    letter-spacing:3rem;
    padding-top:3rem;
}