<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/uju1lhj.css">
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <main class="maxWidth main" style="display:flex;flex-direction:row;justify-content:center;">
        <div style="display:flex;flex-direction:column;align-items:center;width:40%;padding:max(1vw, 2vh);">
            <div style="height:max(5vw, 10vh);width:100%;">
                &nbsp;
            </div>
            <b style="font-size:max(2vw, 4vh)">Apply as a contect creator</b>
            <p style="font-size:max(1vw, 2vh);text-align:center;">Do you want to have your trades promoted and be able to show other users you are a content creator? You now can apply to receive exclusive benefits!</p>
            <p style="font-size:max(1.4vw, 2.8vh);text-align:center;font-weight:600;">Verified Badge</p>
            <p style="font-size:max(1vw, 2vh);text-align:center;">Verified badge lets everyone know the user is authenticated through trusted documentation. We usually give this to influencers with a large following to prevent impersonation.</p>
            <p style="font-size:max(1vw, 2vh);text-align:center;">You should meet any of these requirements before applying:</p>
            <ul>
                <li><p style="font-size:max(1vw, 2vh);text-align:center">100K Subscribers on YouTube</p></li>
                <li><p style="font-size:max(1vw, 2vh);text-align:center">500K Followers on TikTok</p></li>
            </ul>
            <p style="font-size:max(1vw, 2vh);text-align:center;">You should also have at least 500K views the past 30 days. Note, you may also be applicable without having met the requirements.</p>
            <p style="font-size:max(1vw, 2vh);text-align:center;">To apply for a verified badge click <a href="/apply/application" style="color:red;font-size:max(1vw, 2vh);">here</a>.</p>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>

