<div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
</div>
<div>
    <footer>
        <div class="center" style="padding-top:20px;">
            <img id="footerLogo" src="{{ url_for('static', filename='images/misc/logo.png') }}">
        </div>
        <div id="footerQuickLinks2" class="center auto" style="padding:20px;">
            <button class="lightHover blank button">
                <a href="https://discord.com/invite/Byny894ZQP" class="bland center auto">
                    <img class="footerImage" src="{{ url_for('static', filename='images/misc/discordLogo.png') }}">
                </a>
            </button>
            <button class="lightHover blank button">
                <a href="https://www.youtube.com/@Elvebredd/featured" class="bland center auto">
                    <img class="footerImage" src="{{ url_for('static', filename='images/misc/youtubeLogo.png') }}">
                </a>
            </button>
            <button class="lightHover blank button">
                <a href="https://www.roblox.com/groups/7838569/Elvebred#!/about" class="bland center auto">
                    <img class="footerImage" src="{{ url_for('static', filename='images/misc/robloxLogo.png') }}">
                </a>  
            </button>              
        </div>
        <div id="footerMenu" class="center">
            <div id="helpCenter1" style="padding-left:3vw; width:100%">
                <button class="lightHover blank button">
                    <a href="/tutorials" class="bland">
                        <b class="blank footerText lightHover button">Help Center</b>
                    </a>
                </button>
                <div class="line blackBackground" style="margin-top:5px;">
                    &nbsp;
                </div>
            </div>
            <div id="footerQuickLinks1" class="center auto" style="padding:20px;">
                <button class="lightHover blank button">
                    <a href="https://discord.com/invite/Byny894ZQP" class="bland center auto">
                        <img class="footerImage" src="{{ url_for('static', filename='images/misc/discordLogo.png') }}">
                    </a>
                </button>
                <button class="lightHover blank button">
                    <a href="https://www.youtube.com/@Elvebredd/featured" class="bland center auto">
                        <img class="footerImage" src="{{ url_for('static', filename='images/misc/youtubeLogo.png') }}">
                    </a>
                </button>
                <button class="lightHover blank button">
                    <a href="https://www.roblox.com/groups/7838569/Elvebred#!/about" class="bland center auto">
                        <img class="footerImage" src="{{ url_for('static', filename='images/misc/robloxLogo.png') }}">
                    </a>  
                </button>              
            </div>
            <div id="footerSection">
                <div id="footerAvailableOptions">
                    <button class="lightHover blank button">
                        <a href="/tutorials" id="helpCenter2" class="bland">
                            <b class="blank footerText lightHover button">Help Center</b>
                        </a>
                    </button>
                    <button class="lightHover blank button">
                        <a href="/privacy" class="bland">
                            <b class="blank footerText lightHover button">Privacy Policy</b>
                        </a>
                    </button>
                    <button class="lightHover blank button">
                        <a href="/support" class="bland">
                            <b class="blank footerText lightHover button">Contact Us</b>
                        </a>
                    </button>
                </div>
                <div class="center">
                    <div id="footerLine" class="line blackBackground" style="margin-top:5px;">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
        <div class="center" style="padding-bottom:40px; padding-top:20px;">
            <a href="https://www.playwire.com/contact-direct-sales">
                <img src="https://www.playwire.com/hubfs/Powered-by-Playwire-Badges/Ads-Powered-by-playwire-2021-standalone-small-white-300px.png" alt="Ads-Powered-by-playwire-2021-standalone-small-white-300px" width="200" height="56" loading="lazy" style="width: 200px; margin-left: auto; margin-right: auto; display: block; height: auto; max-width: 100%;">
            </a>
        </div>
    </footer>
</div>

