<div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <script src="{{ url_for('static', filename='js/footer.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

    <footer id="foot">

        <div id="empty-box1" style="display: none;"></div>
        <div id="empty-box2" style="display: none;"></div>
    
    
        <p id="playwireLogo">
          <a href="https://www.playwire.com/contact-direct-sales" rel="noopener">
            <img src="https://www.playwire.com/hubfs/Powered-by-Playwire-Badges/Ads-Powered-by-playwire-2021-standalone-small-white-300px.png" alt="Ads-Powered-by-playwire-2021-standalone-small-white-300px" width="200" height="56" loading="lazy" style="width: 200px; margin-left: auto; margin-right: auto; display: block; height: auto; max-width: 100%;">
          </a>
        </p>
        <p style="text-align: center;" id="playwireText">
            <a href="https://www.playwire.com/contact-direct-sales" rel="noopener" target="_blank">
              Advertise on this site.
            </a>
            <p id="playwireLogo">
                <a href="https://www.playwire.com/contact-direct-sales" rel="noopener">
                  <img src="https://www.playwire.com/hubfs/Powered-by-Playwire-Badges/Ads-Powered-by-playwire-2021-standalone-small-white-300px.png" alt="Ads-Powered-by-playwire-2021-standalone-small-white-300px" width="200" height="56" loading="lazy" style="width: 200px; margin-left: auto; margin-right: auto; display: block; height: auto; max-width: 100%;">
                </a>
              </p>
              <p style="text-align: center;" id="playwireText">
                  <a href="https://www.playwire.com/contact-direct-sales" rel="noopener" target="_blank">
                    Advertise on this site.
                  </a>
              </p>
          
              <img id="logooo" src="{{ url_for('static', filename='images/misc/ElvebreddLogoCut.svg')}}" alt="Elvebredd logo">
          
              <div id="linksss">
                  <a id="yt" href="https://www.youtube.com/@Elvebredd/featured" target="_blank">
                      <img src="{{ url_for('static', filename='images/misc/youtubeLogo.png') }}" alt="Elvebredd Youtube">
                  </a>
                  <a id="di" href="https://discord.gg/Byny894ZQP" target="_blank">
                      <img src="{{ url_for('static', filename='images/misc/discordLogo.png') }}" alt="Discord server">
                  </a>
                  <a id="ro" href="https://www.roblox.com/groups/7838569/Elvebred#!/about" target="_blank">
                      <img src="{{ url_for('static', filename='images/misc/robloxLogo.png') }}" alt="Roblox server">
                  </a>
              </div>
    
        <div id="linksss2">
            <a href="FAQ.html">Help Center</a>
            <a href="privacy policy.html">Privacy Policy</a>
            <a href="FAQ.html">Contact Us</a>
        </div>
        
        <div id="subtext">
            <p>There are no official values in Adopt Me and we are not affiliated with Uplift Games LLC.</p>
        </div>
      
        
    
    
    
        <script data-cfasync="false" async src="//cdn.intergient.com/ramp_core.js"></script>
  
      </footer>