<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/signup.css">
    <link rel="stylesheet" href="https://use.typekit.net/uju1lhj.css">
    <script src="static/js/signup.js"></script>
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    {% if resetPassword %}
        <main>
            <main>
                <div class="center column bigMargin">
                    <h1 class="aileronBlack">Reset Your Password</h1>
                    <form method="post" id="resetPasswordForm" class="center column options smallGap">
                        <p id="resetPasswordInfo">Enter a new secure password!</p>
                        <div class="options form smallPadding column" style="width:90%;">
                            <input id="passwordInput" class="option blank maxWidth smallTopBottomPadding" type="password" name="password" value="{{storedWebData['password']}}" placeholder="New Password" autocomplete="off">
                        </div>
                        <div style="width:90%;">
                            <div>
                                <p id="minPasswordLengthText" class="signUpInfoText red" style="text-align:left;">Your password must be over 6 characters long!</p>
                            </div>
                            <div>
                                &nbsp;
                            </div>
                        </div>
                        <div class="options form smallPadding column" style="width:90%;">
                            <input id="confirmPasswordInput" class="option blank maxWidth smallTopBottomPadding" type="password" name="confirmPassword" value="{{storedWebData['confirmPassword']}}" placeholder="Confirm New Password" autocomplete="off">
                        </div>
                        <div style="width:90%;">
                            <div>
                                <p id="passwordMatchText" class="signUpInfoText red">Your password must match!</p>
                            </div>
                        </div>
                        {% if message %}
                            <p id="message" style="margin:0px;">{{message}}</p>
                        {% endif %}
                        <div class="maxWidth smallPadding">
                            <div id="resetPasswordButtons">
                                <div class="center">
                                    <button id="changePasswordButton" type="submit" name="action" value="resetPasswordLoggedIn" class="blank button buttonDesign1 lightHover" style="width:140px;">
                                        <p class="buttonText">Submit</p>
                                    </button>
                                </div>
                                <div class="center">
                                    <button type="submit" name="action" value="close" class="blank button lightHover" style="width:100px;">
                                        <a href="/" class="buttonText bland">Close</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </main>     
    {% else %}
        {% if checkEmail %}
            <main>
                <div class="center column bigMargin">
                    <h1 class="aileronBlack">Check your Email!</h1>
                    <p>We have sent you an email containing information on how you can reset your password!</p>
                </div>
            </main>
        {% else %}
            <main style="margin-top:10vh;">
                <div class="center column bigMargin">
                    <h1 class="aileronBlack">Reset Your Password</h1>
                    <form method="post" id="resetPasswordForm" class="center column options smallGap">
                        <p id="resetPasswordInfo">Enter your email and we'll send you a link to reset your password.</p>
                        <div class="column form smallPadding" style="width:90%;">
                            <input id="emailInput" class="option blank maxWidth smallTopBottomPadding" type="text" name="email" value="{{storedWebData['email']}}" placeholder="Email Address" autocomplete="on">
                        </div>
                        {% if message %}
                            <p id="message">{{message}}</p>
                        {% endif %}
                        <div class="maxWidth smallPadding">
                            <div id="resetPasswordButtons">
                                <div class="center">
                                    <button type="submit" name="action" value="resetPassword" class="blank button buttonDesign1 lightHover" style="width:140px;">
                                        <p class="buttonText">Submit</p>
                                    </button>
                                </div>
                                <div class="center">
                                    <button type="submit" name="action" value="close" class="blank button lightHover" style="width:100px;">
                                        <p class="buttonText">Close</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
        {% endif %}
    {% endif %}
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>