<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/uju1lhj.css">
</head>
<body>
    <header>
        {% include "header.html" %}
    </header>
    <main class="maxWidth main">
        <div id="mainContentSupport">
            <b style="font-size:max(2vw, 4vh)">Contact Support</b>
            <p style="font-size:max(1vw, 2vh);text-align:center;">Do you need help with anything? Please contact our support on <a href="https://discord.com/invite/Byny894ZQP" style="color:red;font-size:max(1vw, 2vh);">discord</a>. We will be as quick as we can to resolve your issues!</p>
            <p style="font-size:max(1vw, 2vh);text-align:center;">If you want to read our Terms of Service, you can find that <a href="/tos" style="color:red;font-size:max(1vw, 2vh);">here.</a></p>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>

